<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accepted</title>
  </head>
  <body>
    <h1>Thanks for posting.</h1>
    <h1>Data has been saved.</h1>
    <a href="/students">Go back to students page</a>
  </body>
</html>
